* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #efe784;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
body main {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
}
body main header {
  height: 350px;
}
body main header .imageFond {
  background-image: url(Images/header.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
}
body main header .imageFond img {
  padding: 100px 0  35px 0;
}
body main header .imageFond h2 {
  font-size: 30px;
  font-weight: 100;
  color: #efe784;
  letter-spacing: 20px;
}
body main .section1 {
  background-color: #3e3838;
  color: #efe784;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px;
}
body main .section1 .line {
  border-top: solid;
  border-bottom: solid;
  border-color: #efe784;
  width: 210px;
  border-width: 2px;
}
body main .section1 .line h2 {
  padding: 10px 25px;
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 100;
}
body main .section1 h1 {
  font-size: 20px;
  padding-top: 30px;
  line-height: 30px;
  text-align: center;
  width: 830px;
  font-weight: 100;
}
body main .section2 {
  display: flex;
  flex-direction: column;
  height: 800px;
  background-color: white;
}
body main .section2 h2 {
  color: #6cbcb3;
  margin-left: 150px;
  padding: 30px 0 30px 0;
  font-size: 40px;
  font-weight: 100;
}
body main .section2 p:nth-child(2) {
  color: #3e3838;
  margin-left: 150px;
  width: 700px;
  line-height: 30px;
  padding-bottom: 40px;
  font-size: 20px;
}
body main .section2 img {
  margin-left: 150px;
  width: 75%;
  height: 300px;
  object-fit: cover;
}
body main .section2 p:nth-child(4) {
  width: 350px;
  margin-left: 150px;
  color: #6cbcb3;
  padding-top: 40px;
  line-height: 25px;
}
body main .section3 {
  display: flex;
  flex-direction: column;
  background-color: #6cbcb3;
}
body main .section3 h2 {
  font-size: 40px;
  margin-left: 150px;
  padding: 30px 0;
  font-weight: 100;
  color: #3e3838;
}
body main .section3 p:nth-child(2) {
  margin-left: 150px;
  color: #3e3838;
  width: 700px;
  line-height: 30px;
  padding-bottom: 40px;
  font-size: 20px;
}
body main .section3 img {
  width: 75%;
  height: 300px;
  object-fit: cover;
  margin-left: 150px;
  object-position: top;
}
body main .section3 p:nth-child(4) {
  color: white;
  margin-left: 150px;
  width: 250px;
  padding: 30px 0;
  line-height: 25px;
}
body main .section4 {
  display: flex;
  flex-direction: column;
  background-color: #3e3838;
}
body main .section4 h2 {
  color: white;
  margin-left: 150px;
  font-size: 40px;
  padding: 30px 0;
  font-weight: 100;
}
body main .section4 p:nth-child(2) {
  color: white;
  margin-left: 150px;
  width: 700px;
  line-height: 30px;
  padding-bottom: 40px;
  font-size: 20px;
}
body main .section4 img {
  width: 75%;
  height: 300px;
  object-fit: cover;
  margin-left: 150px;
}
body main .section4 p:nth-child(4) {
  color: white;
  margin-left: 150px;
  padding-top: 30px;
}
body main .section4 p:nth-child(5) {
  color: white;
  margin-left: 150px;
  padding: 10px 0 30px 0;
}
body main footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: black;
}
body main footer img {
  height: 32px;
  width: 140px;
  margin: 40px 0 20px 85px;
}
body main footer p {
  color: white;
  width: 350px;
  margin-left: 85px;
  line-height: 25px;
}
body main footer p span {
  color: #efe784;
}
@media screen and (max-width: 760px) {
  body {
    width: 768px;
  }
  body main {
    width: 768px;
  }
  body main header {
    height: 300px;
    width: 768px;
  }
  body main header .imageFond {
    height: 300px;
    width: 100%;
  }
  body main .section1 {
    width: 768px;
  }
  body main .section1 h1 {
    font-size: 18px;
    line-height: 23px;
    width: 700px;
  }
  body main .section2 {
    width: 768px;
  }
  body main .section2 h2 {
    margin-left: 50px;
  }
  body main .section2 p:nth-child(2) {
    margin-left: 50px;
    width: 680px;
  }
  body main .section2 img {
    margin-left: 50px;
    width: 88%;
  }
  body main .section2 p:nth-child(4) {
    margin-left: 50px;
  }
  body main .section3 {
    width: 768px;
  }
  body main .section3 h2 {
    margin-left: 50px;
  }
  body main .section3 p:nth-child(2) {
    margin-left: 50px;
    width: 680px;
  }
  body main .section3 img {
    margin-left: 50px;
    width: 88%;
  }
  body main .section3 p:nth-child(4) {
    margin-left: 50px;
  }
  body main .section4 {
    width: 768px;
  }
  body main .section4 h2 {
    margin-left: 50px;
  }
  body main .section4 p:nth-child(2) {
    margin-left: 50px;
    width: 680px;
  }
  body main .section4 img {
    margin-left: 50px;
    width: 88%;
  }
  body main .section4 p:nth-child(4) {
    margin-left: 50px;
  }
  body main .section4 p:nth-child(5) {
    margin-left: 50px;
  }
  body main footer img {
    margin-left: 200px;
  }
  body main footer p {
    margin-left: 200px;
  }
}
@media screen and (max-width: 500px) {
  body {
    width: 500px;
  }
  body main {
    width: 500px;
  }
  body main header {
    width: 500px;
    height: 250px;
  }
  body main header .imageFond {
    height: 250px;
    width: 100%;
  }
  body main header .imageFond img {
    height: 100px;
    padding: 25px 0 25px 0;
  }
  body main header .imageFond h2 {
    padding-top: 40px;
  }
  body main .section1 {
    height: 350px;
    width: 500px;
  }
  body main .section1 .line {
    width: 150px;
  }
  body main .section1 .line h2 {
    font-size: 30px;
    padding: 5px 10px;
    font-weight: 400;
  }
  body main .section1 h1 {
    font-size: 15px;
    line-height: 20px;
    width: 420px;
  }
  body main .section2 {
    width: 500px;
    height: 660px;
  }
  body main .section2 h2 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #3e3838;
  }
  body main .section2 p:nth-child(2) {
    margin-left: 20px;
    width: 420px;
    line-height: normal;
    font-size: 15px;
  }
  body main .section2 img {
    margin-left: 25px;
    width: 90%;
  }
  body main .section2 p:nth-child(4) {
    margin-left: 20px;
    font-size: 15px;
    line-height: normal;
    padding-top: 20px;
  }
  body main .section3 {
    width: 500px;
  }
  body main .section3 h2 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
  }
  body main .section3 p:nth-child(2) {
    margin-left: 20px;
    width: 420px;
    line-height: normal;
    font-size: 15px;
  }
  body main .section3 img {
    margin-left: 20px;
    width: 90%;
  }
  body main .section3 p:nth-child(4) {
    margin-left: 20px;
    font-size: 15px;
    line-height: normal;
    padding-top: 20px;
  }
  body main .section4 {
    width: 500px;
  }
  body main .section4 h2 {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 400;
  }
  body main .section4 p:nth-child(2) {
    margin-left: 20px;
    width: 420px;
    line-height: normal;
    font-size: 15px;
  }
  body main .section4 img {
    margin-left: 20px;
    width: 90%;
  }
  body main .section4 p:nth-child(4) {
    margin-left: 20px;
    font-size: 15px;
    padding-top: 20px;
  }
  body main .section4 p:nth-child(5) {
    margin-left: 20px;
    font-size: 15px;
    padding: 5px 0 20px 0;
  }
  body main footer img {
    margin: 40px 0 20px 85px;
  }
  body main footer p {
    margin-left: 85px;
  }
}
